@use "../global/" as g;

.p-about-profile {
  padding-block: calc(64px + g.$header-height) 64px;

  @include g.mq(md) {
    padding-block: calc(100px + g.$header-height) 100px;
  }
}

.p-about-profile__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include g.mq(lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.p-about-profile__image {
  max-width: 400px;
  margin-inline: auto;

  @include g.mq(lg) {
    width: calc(400 / 1080 * 100%);
    max-width: none;
    flex-shrink: 0;
  }

  img {
    width: 100%;
  }
}

.p-about-profile__body {
  width: 100%;

  @include g.mq(lg) {
    width: calc(600 / 1080 * 100%);
  }
}

.p-about-profile__en {
  color: g.$color-text-sub;
  font-family: g.$ff-en;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.96px;

  @include g.mq(lg) {
    font-size: 14px;
    letter-spacing: 1.12px;
  }
}

.p-about-profile__ja {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.92px;
  margin-top: 8px;

  @include g.mq(lg) {
    font-size: 32px;
    letter-spacing: 2.56px;
  }

  span {
    font-weight: 700;
    color: g.$color-accent;
  }
}

.p-about-profile__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.56px;
  margin-top: 24px;

  @include g.mq(lg) {
    font-size: 16px;
    letter-spacing: 0.64px;
    margin-top: 32px;
  }

  p:nth-child(n + 2) {
    margin-top: 14px;

    @include g.mq(lg) {
      margin-top: 16px;
    }
  }
}
