@use "../global/" as g;

.p-about-strength {
  padding-block: 64px;

  @include g.mq(lg) {
    padding-block: 100px;
  }
}

.p-about-strength__inner {
}

.p-about-strength__title {
}

.p-about-strength__card {
  border-radius: 16px;
  background: g.$color-bg;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  padding: 40px 24px;
  margin-top: 40px;

  @include g.mq(lg) {
    margin-top: 80px;
    padding: 64px;
  }
}

.p-about-strength__list {
}

.p-about-strength__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid g.$color-border;
  padding-block: 32px;

  @include g.mq(lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: 40px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.p-about-strength__head {
  display: flex;
  align-items: center;
  gap: 8px;

  @include g.mq(lg) {
    width: 365px;
    flex-shrink: 0;
  }

  img {
    width: 20px;
    height: 20px;

    @include g.mq(lg) {
      width: 24px;
      height: 24px;
    }
  }
}

.p-about-strength__term {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.56px;

  @include g.mq(lg) {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.96px;
  }
}

.p-about-strength__text {
  color: g.$color-text-sub;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.56px;

  @include g.mq(lg) {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}
