@use "../global" as g;

.p-drawer-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: g.$color-accent;
  z-index: 200;

  /* 上に隠しておく設定 */
  transform: translateY(-100%);
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1), visibility 0.4s;
  visibility: hidden;

  /* 中身を中央揃えにするフレックス設定 */
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-active {
    transform: translateY(0); /* 降りてくる */
    visibility: visible;
  }
}

.p-drawer-nav__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.p-drawer-nav__item {
  text-align: center;
}

.p-drawer-nav__link:active {
  opacity: 0.7;
}

.p-drawer-nav__en {
  display: block;
  font-family: g.$ff-en;
  color: g.$color-text-white;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.56px;
}

.p-drawer-nav__ja {
  display: block;
  color: g.$color-text-white;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.96px;
  margin-top: 8px;
}
