@use "../global" as g;

.p-header-nav {
  display: none;

  @include g.mq(lg) {
    display: block;
  }
}

.p-header-nav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.p-header-nav__link {
  font-family: g.$ff-en;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
  padding-block: 8px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 8px;
    background: transparent;
    transition: background 0.3s;
  }

  &:hover {
    &::after {
      background: g.$color-accent;
    }
  }
}

.p-header-nav__button {
  font-family: g.$ff-en;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
}
