@use "header-nav";
@use "drawer-nav";
@use "top-mv";
@use "top-about";
@use "top-skills";
@use "top-works";
@use "contact";
@use "footer-nav";
@use "about-profile";
@use "about-strength";
@use "about-vision";
@use "works-archive";
@use "works-list";
@use "work-detail";
@use "work-mv";
@use "work-overview";
@use "work-point";
