@use "header-nav";
@use "drawer-nav";
@use "top-mv";
@use "top-about";
@use "top-skills";
@use "top-works";
@use "top-contact";
@use "footer-nav";
@use "about-profile";
@use "about-strength";
@use "about-vision";
