@use "../global" as g;

.p-top-skills {
  padding-block: 64px;
}

.p-top-skills__title {
}

.p-top-skills__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 40px;

  @include g.mq(md) {
    flex-direction: row;
    gap: calc(80 / 1080 * 100%);
    margin-top: 80px;
  }
}

.p-top-skills__item {
}
