@use "../global/" as g;

.p-top-works {
  padding-block: 64px;

  @include g.mq(md) {
    padding-block: 100px;
  }
}

.p-top-works__title {
}

.p-top-works__slider-area {
}

.p-top-works__swiper {
  padding-inline: 10px;
}

.p-top-works__swiper-slide {
  overflow: visible;
  padding-bottom: 8px;
}

.p-top-works__prev,
.p-top-works__next {
  width: 32px;
  height: 32px;
  margin-top: 20px !important;

  @include g.mq(md) {
    width: 64px;
    height: 64px;
  }

  svg {
    display: none;
  }
}

.p-top-works__prev {
  background: url(../img/icon-arrow-prev.svg) no-repeat center center / contain;
  left: 0 !important;
}

.p-top-works__next {
  background: url(../img/icon-arrow-next.svg) no-repeat center center / contain;
  right: 0 !important;
}

.p-top-works__button {
  text-align: center;
  margin-top: 48px;

  @include g.mq(md) {
    margin-top: 64px;
  }
}
