@use "../global/" as g;

.p-work-others {
  padding-block: 64px 100px;

  @include g.mq(md) {
    padding-block: 100px 100px;
  }
}

.p-work-others__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 15px;

  @include g.mq(md) {
    margin-top: 80px;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
    max-width: 1080px;
    margin-inline: auto;
  }
}

.p-work-others__item {
}

.p-work-others__link {
  display: block;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &:hover {
    opacity: 0.7;
    transform: translateY(-4px); // ホバーで少し浮く演出
  }
}

.p-work-others__image {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid #eee;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-work-others__button {
  margin-top: 64px;
  text-align: center;

  @include g.mq(md) {
    margin-top: 80px;
  }
}
