@use "../global/" as g;

.p-work-capture {
  padding-block: 64px;
  background: url(../img/bg-grid-gray.png) repeat center top;

  @include g.mq(md) {
    padding-block: 100px;
  }
}

.p-work-capture__text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.64px;

  @include g.mq(md) {
    font-size: 20px;
    letter-spacing: 0.8px;
  }
}

/* ▼ 外枠（デザイン担当） */
.p-work-capture__frame {
  height: 55vh;
  min-height: 400px;
  max-height: 600px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translateZ(0);
  margin-top: 32px;
  margin-inline: auto;

  @include g.mq(md) {
    width: 100%;
    max-width: 1080px;
    height: 650px;
    border-radius: 8px;
    margin-top: 64px;
  }
}

.p-work-capture__scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  /* ▼ Firefox対応 */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) g.$color-bg; /* つまみの色 背景色 */

  /* ▼ Chrome, Safari, Edge対応 */
  &::-webkit-scrollbar {
    width: 8px; /* 全体の幅 */
  }

  /* 背景（トラック） */
  &::-webkit-scrollbar-track {
    background: g.$color-bg;
  }

  /* 持ち手（サム） */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  /* ホバー時は少し濃くして操作しやすく */
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  img {
    width: 100%;
    display: block;
    margin-inline: auto;

    @include g.mq(md) {
      max-width: 100%;
    }
  }
}
