@use "../global/" as g;

.p-work-overview {
  padding-block: 64px;

  @include g.mq(md) {
    padding-block: 100px;
  }
}

.p-work-overview__content {
  border-radius: 16px;
  background: g.$color-bg;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  padding: 32px 20px;
  margin-top: 40px;

  @include g.mq(md) {
    margin-top: 80px;
  }

  @include g.mq(lg) {
    padding: 64px;
  }
}

.p-work-overview__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 32px;
  /* 下に線を引く */
  border-bottom: 1px solid #eee;

  @include g.mq(lg) {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  /* 最初のアイテム: 上の余白を消す */
  &:first-child {
    padding-top: 0;
  }

  /* 最後のアイテム: 線と下の余白を消す */
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.p-work-overview__term {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.56px;

  @include g.mq(lg) {
    width: 120px;
    font-size: 20px;
    letter-spacing: 0.8px;
    flex-shrink: 0;
  }
}

.p-work-overview__desc {
  color: g.$color-text-sub;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.56px;

  @include g.mq(lg) {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.64px;
  }
}

.p-work-overview__button {
  margin-top: 48px;
  text-align: center;

  @include g.mq(lg) {
    margin-top: 64px;
  }
}
