@use "../global/" as g;

.p-works-list {
  display: grid;
  gap: 56px;
  /* スマホ：1列 */
  grid-template-columns: 1fr;

  /* タブレット以上：2列 */
  @include g.mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 64px 40px;
  }
}
