@use "../global/" as g;

.p-work-detail {
  padding-top: g.$header-height;
}

.p-work-detail__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.92px;
  padding-block: 64px;

  @include g.mq(lg) {
    font-size: 40px;
    letter-spacing: 3.2px;
    padding-block: 100px;
  }
}
