@use "../global/" as g;

.l-footer {
  background: g.$color-accent;
  color: g.$color-text-white;
  padding-block: 64px 24px;
  text-align: center;
  font-family: g.$ff-en;

  @include g.mq(md) {
    padding-block: 100px 32px;
  }
}

.l-footer__copyright {
  margin-top: 40px;

  @include g.mq(md) {
    margin-top: 64px;
  }

  small {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.96px;

    @include g.mq(md) {
      font-size: 14px;
      letter-spacing: 1.12px;
    }
  }
}
