@use "../global/" as g;

.l-footer {
  background: g.$color-accent;
  color: g.$color-bg;
  padding-block: 64px 24px;
  text-align: center;
  font-family: g.$ff-en;

  @include g.mq(md) {
    padding-block: 100px 32px;
  }
}

.l-footer__inner {
  padding-inline: 20px;

  @include g.mq(md) {
    padding-inline: 40px;
    max-width: g.$width-inner;
    margin-inline: auto;
  }
}

.l-footer__nav {
}

.l-footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include g.mq(md) {
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    align-items: center;
  }
}

.l-footer__item {
  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.12px;

    @include g.mq(md) {
      font-size: 16px;
      letter-spacing: 1.28px;
    }
  }
}

.l-footer__copyright {
  margin-top: 40px;

  @include g.mq(md) {
    margin-top: 64px;
  }

  small {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.96px;

    @include g.mq(md) {
      font-size: 14px;
      letter-spacing: 1.12px;
    }
  }
}
