@use "../global" as g;

.l-header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: g.$color-bg;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
  z-index: 100;
  transition: opacity 0.2s ease;

  &.is-active {
    background-color: transparent;
    box-shadow: none;
    z-index: 300;

    .l-header__logo {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s;
    }
  }
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.l-header__logo {
  a {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2.16px;
    font-family: g.$ff-en;

    @include g.mq(md) {
      font-size: 24px;
      line-height: 1;
      letter-spacing: 2.88px;
    }
  }
}
