@use "../global" as g;

.c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  border-radius: 55px;
  border: 2px solid currentColor;
  background: #fff;
  transition: background 0.3s;

  &:hover {
    color: #fff;
    background: g.$color-accent;
  }
}
