@use "../global" as g;

.c-button {
  display: inline-block;
  text-align: center;
  width: 240px;
  padding-block: calc(17px - 2px); // 2pxはボーダー分
  border-radius: 55px;
  border: 2px solid currentColor;
  background: #fff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.28px;
  font-weight: 700;
  transition: background 0.3s;

  &:hover {
    color: #fff;
    background: g.$color-accent;
  }
}
