@use "../global/" as g;

.c-email-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  width: 100%;
  margin-inline: auto;
  background: g.$color-bg;
  color: g.$color-accent;
  font-family: g.$ff-en;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1.12px;
  border-radius: 50px;
  padding-block: 10px;
  padding-inline: 40px;
  transition: opacity 0.3s;

  span {
    font-weight: 700;
  }

  @include g.mq(md) {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1.92px;
    padding-block: 32px;
    max-width: 600px;
    // PC版でもアイコンと被らないよう余白調整
    padding-inline: 60px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.c-email-link__icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  width: 16px;
  height: 16px;

  @include g.mq(md) {
    width: 24px;
    height: 24px;
    right: 32px;
  }
}
