@use "../global/" as g;

.c-email-link {
  display: block;
  max-width: 300px;
  width: 100%;
  margin-inline: auto;
  background: g.$color-bg;
  color: g.$color-accent;
  font-family: g.$ff-en;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1.12px;
  border-radius: 50px;
  padding-block: 10px;
  transition: opacity 0.3s;

  @include g.mq(md) {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1.92px;
    padding-block: 32px;
    max-width: 600px;
  }

  &:hover {
    opacity: 0.7;
  }
}
