@use "../global" as g;

.c-hamburger {
  width: 36px;
  height: 36px;
  position: relative;
  z-index: 60;

  @include g.mq(lg) {
    display: none;
  }

  &.is-active .c-hamburger__bar {
    &:nth-of-type(1) {
      transform: rotate(-45deg);
      top: 9px;
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      transform: rotate(45deg);
      top: 9px;
    }
  }
}

.c-hamburger__bar {
  margin-top: 7.5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: g.$color-accent;
  border-radius: 6px;
  transition: transform 0.4s, opacity 0.4s;

  &:nth-of-type(2) {
    top: 9px;
  }

  &:nth-of-type(3) {
    top: 18px;
  }
}
