@use "../global/" as g;

.c-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.96px;
  padding: 4px 8px;
  border-radius: 4px;

  @include g.mq(md) {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.12px;
    padding: 6px 12px;
  }
}

.c-label--category {
  background: #fded98;
}

.c-label--role {
  background: #e8f5e9;
}
